.hidden {
  display: none;
}

.desktop-widget {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;

  .icon {
    background: none;
    border: none;
    cursor: pointer;

    svg {
      height: 30px;
      width: 30px;
    }
  }

  .form {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
  }

  &.is-open {
    .form {
      display: block;
    }
  }
}
