$canvas-header-height: 55px;

// Search widget on Large screens
.ajas-search-widget {
  --svg-fill: #01579b;
  --close-fill: #fff;
  max-width: 200px;
  width: 100%;
  position: relative;
}

.ajas-search-widget--dashboard {
  margin-right: 10px;
}

.ajas-search-widget--all-courses {
  position: absolute;
  top: 32px;
  right: 24px;
  margin: 0;
}

.ajas-search-widget,
.ajas-search-widget * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.ajas-search-widget__form {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;

  p {
    // People are complaining about our branding. We'll hide it until we have a
    // way to make it hide when a setting in Atomic Search is changed
    display: none;
    position: absolute;
    right: 0;
    bottom: -16px;
    text-align: right;
    font-size: 10px;
    color: #777;
    margin-block: 4px 0;

    span {
      color: var(--svg-fill);
    }
  }

  input {
    height: 36px;
    font-family:
      'Lato Extended', 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #202122;
    width: 100%;
    padding-inline: 12px 42px;
    border: 1px solid #ccc;
    border-radius: 4px;

    &:focus {
      border-color: #006fbf;
      outline: 1px solid #006fbf;
    }
  }
}

.ajas-search-widget-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.ajas-search-widget__dropdown {
  position: absolute;
  right: 0;
  top: 32px;
  border: 1px solid var(---e5e7eb);
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #e5e7eb;
  border-radius: 3px;
  color: #384151;
  z-index: 191;
}

.ajas-search-widget__overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.ajas-search-widget__dropdown.hidden,
.ajas-search-widget__overlay.hidden {
  display: none;
}

.ajas-search-widget__dropdown button {
  padding: 9px 12px;
  letter-spacing: 0px;
  font-size: 14px;
  white-space: nowrap;
  border: none;
  background-color: white;
}

.ajas-search-widget__dropdown button:hover {
  cursor: pointer;
  background-color: #eee;
}

@media (max-width: 767px) {
  .ajas-search-widget {
    display: none;

    &.ajas-search-widget--small {
      display: block;
    }
  }
}

.ajas-search-toggle {
  width: 45px;
  height: 55px;
  background: none;
  border-radius: 3px;
  border: 1px solid transparent;
  display: grid;
  place-items: center;
  transition: all 0.1s ease;

  .ajas-search-logo {
    height: 24px;
    width: 24px;

    .logo-path {
      transition: all 100ms ease;
      fill: var(--close-fill);
    }

    .logo-rect {
      fill: none;
    }
  }

  .ajas-close-svg {
    height: 24px;
    width: 24px;
    fill: var(--close-fill);

    transition: all 100ms ease;
  }

  &:focus {
    outline: 2px solid #fff;
    outline-offset: -3px;
  }
}

.ajas-search-widget--small {
  position: initial;
  width: auto;
  transition: all 0.3s ease;
  margin: 0;

  .ajas-close-svg {
    display: none;
  }

  .ajas-search-widget__btn-group {
    right: 14px;
    top: 14px;
  }

  .ajas-search-widget__btn--search {
    width: 34px;
    height: 34px;

    svg {
      height: 28px;
      width: 28px;
    }
  }

  .ajas-search-widget__overlay {
    top: -$canvas-header-height;
    left: 0;
  }

  .ajas-search-widget__btn--caret {
    height: 34px;
  }

  .ajas-search-widget__dropdown {
    top: 43px;
  }

  form {
    padding: 10px;
    width: 100%;
    min-height: 65px;
    background-color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    top: $canvas-header-height;
    appearance: none;
    opacity: 0;
    transform-origin: center top;
    transform: rotateX(90deg);
    transition:
      transform 0.2s ease,
      opacity 0.2s ease,
      appearance 0s linear 0.2s;
    z-index: 99;

    p {
      position: initial;
    }
  }

  input {
    height: 42px;
    font-size: 16px;
    width: 100%;
    margin: 0;
    line-height: normal;
    color: #222 !important;
  }

  &.is-active {
    .ajas-search-toggle {
      .ajas-search-logo {
        display: none;
      }

      .ajas-close-svg {
        display: block;
      }
    }

    form {
      appearance: initial;
      transform: rotateX(0);
      transition:
        transform 0.2s ease,
        opacity 0.2s ease,
        appearance 0s linear 0s;
      opacity: 1;
    }
  }
}

.ajas-search-widget--equella {
  input {
    padding-right: 60px;
  }

  &.ajas-search-widget--small {
    input {
      padding-right: 66px;
    }
  }
}

.ajas-search-widget__btn-group {
  display: flex;
  position: absolute;
  align-items: center;
  right: 4px;
  top: 4px;
  border-radius: 3px;
}

.ajas-search-widget__btn--search {
  display: grid;
  place-items: center;
  height: 28px;
  width: 28px;
  border-radius: 3px;
  background: none;
  border: none;
  padding: 0;
  transition: all 100ms ease;

  .ajas-search-logo {
    height: 24px;
    width: 24px;

    .logo-path {
      transition: all 100ms ease;
      fill: var(--svg-fill);
    }

    .logo-rect {
      fill: none;
    }
  }

  &:hover {
    --svg-fill: #fff;
    cursor: pointer;
    background-color: #006fbf;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    --svg-fill: #fff;
    outline: 2px solid #006fbf;
    outline-offset: 2px;
    background-color: #006fbf;
  }
}

.ajas-search-widget__btn--caret {
  width: 24px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  svg {
    fill: var(--svg-fill);
  }

  &:hover {
    --svg-fill: #fff;
    cursor: pointer;
    background-color: #006fbf;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    --svg-fill: #fff;
    outline: 2px solid #006fbf;
    outline-offset: 2px;
    background-color: #006fbf;
  }
}
