
// Search widget on Large screens
.ajas-search-widget{
  max-width: 240px;
  width: 100%;
  position: relative;
  margin-right: 5px;
}
.ajas-search-widget--all-courses{
  position: absolute;
  top: 32px;
  right: 24px;
  margin: 0;
}
.ajas-search-widget, .ajas-search-widget *{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.ajas-search-widget__form{
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
}
.ajas-search-widget__form input{
  height: 38px;
  font-family: "Lato Extended","Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #333;
  width: 100%;
  padding: 0 40px 0 10px;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  line-height: 38px;
  margin: 0;
}
.ajas-search-widget__form input:focus{
  border-color: #01579B;
}
.ajas-search-widget__form input:focus + .ajas-search-widget__btn--search{
  background: #69E2FF;
}
.ajas-search-widget__form input:focus + .ajas-search-widget__btn--search svg{
  fill: #01579B;
}
.ajas-search-widget-hidden{
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.ajas-search-widget__btn--search{
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background: none;
  position: absolute;
  top: 4px;
  right: 4px;
  -webkit-transition: transform 0.1s ease;
  -moz-transition: transform 0.1s ease;
  -o-transition: transform 0.1s ease;
  -ms-transition: transform 0.1s ease;
  transition: transform 0.1s ease;
  border: none;
  padding: 0;
}
.ajas-search-widget__btn--search svg{
  width: 18px;
  fill: #595959;
  margin-top: 5px;
  height: 18px;
}
.ajas-search-widget__btn--search:hover{
  cursor: pointer;
  background-color: #eee;
}
.ajas-search-widget__btn--search:active{
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
.ajas-search-widget__btn--search:focus{
  outline: thin dotted #222;
  background: #69E2FF;
}
.ajas-search-widget__btn--search:focus svg{
  fill: #01579B;
}

@media (max-width: 767px){
  .ajas-search-widget{
    display: none;
    &.ajas-search-widget--small{
      display: block;
    }
  }
}



.ajas-search-toggle{
  width: 40px;
  height: 55px;
  background: none;
  border-radius: 0;
  border: 1px solid transparent;
  position: absolute;
  right: 55px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  background-color: #272121;
  transition: all 0.3s ease;

  svg{
    fill: #ffffff;
    width: 20px;
    height: 20px;
  }

  &:focus{
    border-color: #ffffff;
    outline: none;
  }
}

.ajas-search-widget--small{
  top: 0;
  right: 0;
  height: 55px;
  overflow: hidden;
  max-width: 96px;
  width: 100%;
  position: absolute;
  padding: 0 96px 0;
  padding-left: 0px;
  transition: all 0.3s ease;
  margin: 0;

  .ajas-search-widget__btn--search{
    width: 35px;
    height: 35px;
    top: 10px;
    right: 10px;
  }

  form{
    overflow: hidden;
    padding: 5px;
  }

  input{
    height: 45px;
    width: 100%;
    margin: 0;
    line-height: normal;
    position: relative;
    color: #222 !important;
    transition: width 0.3s ease;
    border: none;

    &:focus{
      outline: thin solid #fff;
      outline-offset: 4px;
    }
  }

  &.is-active{
    max-width: 767px;
    padding-left: 0;
    padding-right: 45px;
    background-color: #272121;

    .ajas-search-toggle{
      right: 0;
      width: 45px;
    }
  }
}

.ajas-search-widget--dashboard-small{
  max-width: 55px;
  padding-right: 55px;
  .ajas-search-toggle{
    width: 55px;
    right: 0;
  }
  &.is-active{
    padding-right: 55px;
    .ajas-search-toggle{
      width: 55px;
    }
  }
}