// Search widget on Large screens
.ajas-search-widget {
  max-width: 200px;
  width: 100%;
  position: relative;
}

.ajas-search-widget--all-courses {
  position: absolute;
  top: 32px;
  right: 24px;
  margin: 0;
}

.ajas-search-widget,
.ajas-search-widget * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.ajas-search-widget__form {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
}

.ajas-search-widget__form input {
  height: 38px;
  font-family: "Lato Extended", "Lato", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #333;
  width: 100%;
  padding: 0 40px 0 10px;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  line-height: 38px;
  margin: 0;
}

.ajas-search-widget__form input:focus {
  border-color: #01579b;
  outline: 1px solid #01579b;
}

.ajas-search-widget__form input:focus+.ajas-search-widget__btn--search {
  background: #69e2ff;
}

.ajas-search-widget__form input:focus+.ajas-search-widget__btn--search svg {
  fill: #01579b;
}

.ajas-search-widget-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.ajas-search-widget__btn--search {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background: none;
  position: absolute;
  top: 4px;
  right: 24px;
  transition: transform 0.1s ease;
  border: none;
  padding: 0;
}

.ajas-search-widget__btn--search svg {
  width: 18px;
  fill: #595959;
  margin-top: 5px;
  height: 18px;
}

.ajas-search-widget__btn--caret {
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 4px;
  top: 9px;
  cursor: pointer;
}

.ajas-search-widget__dropdown {
  position: absolute;
  right: 4px;
  top: 32px;
  border: 1px solid var(---e5e7eb);
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #E5E7EB;
  border-radius: 3px;
  color: #384151;
  z-index: 191;
}

.ajas-search-widget__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.ajas-search-widget__dropdown.hidden,
.ajas-search-widget__overlay.hidden {
  display: none;
}

.ajas-search-widget__dropdown button {
  padding: 9px 12px;
  letter-spacing: 0px;
  font-size: 14px;
  white-space: nowrap;
  border: none;
  background-color: white;
}

.ajas-search-widget__dropdown button:hover {
  cursor: pointer;
  background-color: #eee;
}

.ajas-search-widget__btn--search:hover {
  cursor: pointer;
  background-color: #eee;
}

.ajas-search-widget__btn--search:active {
  transform: scale(0.95);
}

.ajas-search-widget__btn--search:focus {
  outline: 2px solid #222;
  background: #69e2ff;
}

.ajas-search-widget__btn--search:focus svg {
  fill: #01579b;
}

@media (max-width: 767px) {
  .ajas-search-widget {
    display: none;

    &.ajas-search-widget--small {
      display: block;
    }
  }
}

.ajas-search-toggle {
  width: 45px;
  height: 55px;
  background: none;
  border-radius: 3px;
  border: 1px solid transparent;
  display: grid;
  place-items: center;
  transition: all 0.1s ease;

  svg {
    fill: #ffffff;
    width: 20px;
    height: 20px;
  }

  &:focus {
    outline: 2px solid #fff;
    outline-offset: -3px;
  }
}

.ajas-search-widget--small {
  position: initial;
  width: auto;
  transition: all 0.3s ease;
  margin: 0;

  .ajas-close-svg {
    display: none;
  }

  .ajas-search-widget__btn--search {
    width: 35px;
    height: 35px;
    top: 15px;
    right: 15px;
    display: none;
  }

  form {
    padding: 10px;
    width: 100%;
    min-height: 65px;
    background-color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    top: 100%;
    appearance: none;
    opacity: 0;
    transform-origin: center top;
    transform: rotateX(90deg);
    transition: transform 0.2s ease, opacity 0.2s ease,
      appearance 0s linear 0.2s;
    z-index: 99;
  }

  input {
    display: none;
    height: 45px;
    font-size: 15px;
    width: 100%;
    margin: 0;
    line-height: normal;
    color: #222 !important;
  }

  &.is-active {
    .ajas-search-toggle {
      .ajas-search-svg {
        display: none;
      }

      .ajas-close-svg {
        display: block;
      }
    }

    .ajas-search-widget__btn--search,
    input {
      display: block;
    }

    form {
      appearance: initial;
      transform: rotateX(0);
      transition: transform 0.2s ease, opacity 0.2s ease,
        appearance 0s linear 0s;
      opacity: 1;
    }
  }
}